
/* PHOTOSLIDER */

#photoslider
	//

/* PHOTOSLIDER ADAPTIVE */

/* // XXL */
@media (max-width: 1679px)
	#photoslider
		//

/* // XL */
@media (max-width: 1439px) 
	#photoslider
		//

/* // LG */
@media (max-width: 1199px)
	#photoslider
		//

/* // MD */
@media (max-width: 991px) 
	#photoslider
		//

/* // SM */
@media (max-width: 767px)
	#photoslider
		//

/* // XS */
@media (max-width: 575px) 
	#photoslider
		//
	welcome-h5
		font-size: 24px

	a
		text-decoration: none
	button-text
			text-decoration: none

/* PHOTOSLIDER: end */

