* {
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.font_akcent {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lights {
  height: 20px;
  background: yellow url("../img/divider.jpg") repeat-x scroll center center;
}

h2 {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #FDAE00;
  font-size: 40px;
  margin-bottom: 60px;
}

p {
  line-height: 170%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

/* TOPBAR */
#topbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
#topbar a {
  color: #fff;
  text-decoration: none;
  vertical-align: bottom;
  display: inline-block;
  align-self: center;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
#topbar .top_phone {
  line-height: 30px;
  align-self: center;
  padding-top: 8px;
}
#topbar .top_phone:hover {
  color: #FDAE00;
}
#topbar .top_whatsapp {
  margin-left: auto;
}
#topbar .top_whatsapp img {
  width: 30px;
  height: 30px;
}

/* HEADER */
header {
  height: 340px;
  text-align: center;
  background: transparent url("../img/header.jpg") no-repeat scroll center center/cover;
  display: flex;
  align-items: end;
  position: relative;
  z-index: 1;
}
header .main_menu {
  margin-bottom: -20px;
  background-color: #AE0F13;
  border: 2px solid #FDAE00;
}
header .main_menu a {
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat Subrayada", sans-serif;
  text-decoration: none;
}
header .main_menu a:hover {
  color: #FDAE00;
}

/* HEADER: end */
/* video */
#video {
  text-align: center;
  z-index: 0;
}
#video .video_item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#video .video_item::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -104px;
  margin-top: -104px;
  width: 207px;
  height: 207px;
  background: transparent url("../img/play_button.svg") no-repeat scroll center center/cover;
}

/* video ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* video: end */
/* welcome */
#welcome .welcome-h5 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

/* WELCOME ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* WELCOME: end */
/* PHOTOSLIDER */
#photoslider strong {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}
#photoslider .art_of_dance_text {
  margin-right: 30px;
  padding-top: 10px;
}
#photoslider .white {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
#photoslider .grey {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #89847F;
}

/* PHOTOSLIDER ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* PHOTOSLIDER: end */
/* contacts */
#contacts .img-contact {
  width: 84px;
  height: 84px;
}
#contacts strong {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

/* contacts ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* contacts: end */
/* FOOTER */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #060F0A;
}
footer a {
  color: #FDAE00;
  text-decoration: none;
  font-size: 16px;
}
footer strong {
  color: #FDAE00;
}
footer #footer_copyright {
  margin-top: 60px;
}

/* FOOTER ADAPTIVE */
/* // XXL */
/* // XL */
/* // LG */
/* // MD */
/* // SM */
/* // XS */
/* FOOTER: END *//*# sourceMappingURL=styles.css.map */